.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 20px;
  text-align: center;
  font-family: var(--font-menu);
  margin: 0 auto;
}

.header__navigation ul {
  display: flex;
  list-style: none;
}

.header__navigation a {
  padding: 10px;
  font-size: 12px;
}

.active {
  border-bottom: 1px solid var(--primary-color);
}

.header__logo {
  color: var(--primary-color);
  font-size: 38px;
}

.header__btn {
  font-size: larger;
  padding: 5px;
  width: 35px;
  height: 35px;
  color: white;
  background-color: var(--button-color);
  border: none;
  border-radius: 50%;
}

.header__signIn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__btn:hover,
.header__signIn:hover {
  cursor: pointer;
}

@media screen and (min-width: 1060px) {
  .header {
    max-width: 80%;
  }

  .header__navigation a {
    font-size: 18px;
  }

  .header__navigation a:hover {
    border-bottom: 1px solid var(--primary-color);
  }
}
