@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem;
  text-align: center;
  font-family: 'McLaren', cursive;
}

.header__navigation ul {
  display: flex;
  list-style: none;
}

.header__navigation a {
  padding: 10px;
}

/* nechápu proč nefunguje .active */
.header__navigation a:hover,
.active {
  border-bottom: 2px solid #035e7b;
  margin-bottom: -5px;
}

.header__logo {
  color: #035e7b;
}

.header__btn {
  padding: 5px;
  color: white;
  background-color: #035e7b;
  border: 2px solid #035e7b;
  border-radius: 10px;
}

/* .header_btn__new,
.header_btn__signin {
  background-color: #035e7b;
  color: rgb(250, 236, 209);
  font-weight: bold;
  margin-left: 2rem;
  margin-right: 2rem;
}
.header_btn__new {
  border-radius: 50%;
  font-size: 2vw;
  aspect-ratio: 1/1;
  padding: 1vw;
} */

.header_btn__signin {
  border-radius: 10rem;
}
