.hero__section {
  background-color: var(--secondary-color);
  width: 100%;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .hero__section {
    flex-direction: row;
  }
}

.hero__image {
  width: fit-content;
}

.hero__section h1 {
  font-family: var(--font-menu);
  color: var(--primary-color);
}

.header__btn {
  font-size: 15px;
  padding: 15px;
  color: white;
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
}

.header__btn:hover {
  cursor: pointer;
}
