.registrace {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding-bottom: 15px;
}

.registrace__button {
  color: white;
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
}

.registrace__input {
  display: flex;
  border-radius: 10px;
}
