.bookCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  font-family: var(--font);
  min-height: 400px;
  background-color: #fafbef;
  margin: 1rem 0;
  padding: 1.5rem;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
  gap: 15px;
}

.cardImg {
  margin: auto;
}

.bookTitle {
  color: #002927;
  font-weight: bold;
  font-family: var(--font);
  font-size: 2vh;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bookAuthor {
  margin-bottom: 1rem;
  font-family: var(--font);
  color: #003d3a;
  font-size: 1.5vh;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
