.bookcard {
  border-radius: 10px;
  font-family: var(--font);
  height: 500px;
  background-color: #fafbef;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex: 0 1 30%;
}

.bookcover {
  max-width: 100%;
}

.booktag {
  color: white;
  background-color: var(--accent-color);
  font-family: var(--font);
  font-size: 1vh;
}

.booktitle {
  color: #002927;
  font-weight: bold;
  font-family: var(--font);
  font-size: 2vh;
}

.bookauthor {
  font-family: var(--font);
  color: #003d3a;
  font-size: 1.5vh;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.createbutton {
  width: 100%;
  margin: 0 auto;
  color: white;
  border: 1px solid var(--button-color);
  border-radius: 5px;
  background-color: var(--button-color);
  font-family: var(--font);
  font-size: 2vh;
}

.createbutton:hover {
  color: #002927;
}

.bookmark {
  position: absolute;
  right: 0px;
  top: 0px;

  width: 2.5rem;
  height: 5vh;
  font-size: 1.4em;
  text-align: center;

  color: var(--secondary-color);

  background-color: var(--button-color);
  background-image: url('/icon-bookmark.png');

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
