.bookcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  font-family: var(--font);
  height: 500px;
  width: 100%;
  background-color: #fafbef;
  margin: 1rem 0;
  flex: 1 1 30%;
  padding: 1.5rem;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
  gap: 15px;
}

.bookcard:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in;
}

.bookcardWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bookcover {
  max-width: 100%;
  margin-bottom: 2rem;
}

.booktag {
  display: flex;
  align-self: center;
  width: fit-content;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  color: white;
  background-color: var(--accent-color);
  font-family: var(--font);
  font-size: 1.2vh;
}

.booktitle {
  color: #002927;
  font-weight: bold;
  font-family: var(--font);
  font-size: 1rem;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.bookauthor {
  font-family: var(--font);
  color: #003d3a;
  font-size: 1.5vh;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.createbutton {
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  color: white;
  border: 1px solid var(--button-color);
  border-radius: 5px;
  background-color: var(--button-color);
  font-family: var(--font);
  font-size: 1.3vh;
  position: relative;
  padding: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.createbutton:hover {
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--button-color);
}

.createbutton_container {
  margin-bottom: 1rem;
}

.bookmark {
  position: absolute;
  right: 0px;
  top: 0px;

  width: 2.5rem;
  height: 5vh;
  font-size: 1.4em;
  text-align: center;

  color: var(--secondary-color);

  background-color: var(--button-color);
  background-image: url('/icon-bookmark.png');

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bookRating {
  align-self: center;
}
