.book {
  display: flex;
  flex-direction: column;
  background-color: #fafbef;
  width: 100%;
  height: 100%;
  align-items: center;
}

.bookMain {
  flex-wrap: wrap;
  background-color: white;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 30px rgb(0 0 0 / 5%);
  height: min-content;
  margin: 0.5rem auto 2rem;
  max-width: 90vw;
}

@media screen and (min-width: 768px) {
  .book {
    flex-direction: row;
  }

  .bookMain {
    min-width: 40%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }
}

.bookView {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .bookView {
    flex-direction: row;
    justify-content: center;
  }
}

.bookinfo {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}

.bookinfo > div {
  margin-bottom: 1.5rem;
}

.bookCover {
  display: flex;
  justify-content: center;
  max-height: 100%;
  padding: 2rem;
  margin: 0 auto;
}

.booktag {
  color: #5c475b;
  background-color: #d3c5d2;
  font-size: 1vh;
}

.booktitle {
  color: #002927;
  font-weight: bold;
  font-size: 2.5vh;
}

.bookauthor {
  color: #003d3a;
  font-size: 2vh;
}

.bookbio {
  font-size: 2vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.createbutton {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #ebfafe;
  background-color: var(--button-color);
  font-size: 28px;
  padding: 10px;
  border-radius: 50%;
}

.createbutton:hover {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--button-color);
}

.comments {
  width: 100%;
  display: block;
  flex-wrap: wrap;
  align-items: center;
  gap: 1vh;
}

.bookmarks {
  width: 100%;
  margin-bottom: 2.5rem;
}

.bookmarks_elm {
  background-image: url('/icon-bookmark.svg');
  height: auto;
  width: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  padding: 1rem;
  position: relative;
  font-size: 5vh;
  text-align: right;
}

.bookmarksMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.bookmark {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  width: fit-content;
  gap: 10px;
}

.trashbin_btn {
  fill: rgba(249, 45, 45, 0.664);
  border-radius: 50%;
  border: none;
  position: absolute;
  top: -0.2rem;
  right: -0.1rem;
}

.trashbin_btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.bookmarksMain h2,
.commentsMain h2 {
  color: var(--primary-color);
  font-family: var(--font-menu);
  margin: 0;
}

.commentsMain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
}

.commentsBookmarks {
  width: 100%;
}

.buttonDelete {
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: 1px solid rgba(240, 128, 128, 0.4);
  border-radius: 5px;
  color: rgb(197, 0, 0);
}

.buttonDelete:hover {
  cursor: pointer;
  font-weight: 700;
}

.bookRating {
  justify-content: center;
}
