.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
  font-family: var(--font-menu);
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.header__navigation ul {
  display: flex;
  list-style: none;
}

.header__navigation a {
  padding: 10px;
  font-size: smaller;
}

.header__navigation a:hover {
  border-bottom: 1px solid var(--primary-color);
}

.active {
  border-bottom: 1px solid var(--primary-color);
}

.header__logo {
  color: var(--primary-color);
  font-size: 3em;
}

.header__btn {
  font-size: 1em;
  padding: 10px;
  color: white;
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
}

.header__signIn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__signIn:hover,
.header__btn:hover {
  cursor: pointer;
}
