/*------------- styly header---------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem;
  text-align: center;
  font-family: var(--font-menu);
  width: 100%;
  margin-left: 2rem;

  margin-bottom: 4rem;
}

.header__navigation ul {
  display: flex;
  list-style: none;
}

.header__navigation a {
  padding: 10px;
  font-size: smaller;
}

.header__navigation a:hover {
  border-bottom: 1px solid var(--primary-color);
}

.active {
  border-bottom: 1px solid var(--primary-color);
}

.header__logo {
  color: var(--primary-color);
  font-size: 10vh;
}

.header__btn {
  font-size: large;
  padding: 2vh;
  color: white;
  background-color: var(--button-color);
  border: none;
  border-radius: 10rem;
}

.header__signIn {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}

.header__signIn:hover,
.header__btn:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  justify-content: center;
  align-items: center;
}

/*-------------- styly sekce "populární knihy" a " naposledy čteno" ------------------------*/

.book_section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 5rem;
}

.book_section_heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.book_section_heading p:hover {
  cursor: pointer;
  text-shadow: 2px 2px var(--secondary-color);
}

.book_section_cards {
  display: flex;
  gap: 2rem;
}

/*-------------- registrace ------------------------*/

.registrace {
  background-color: var(--secondary-color);
  width: 100%;
  border-radius: 2rem;
  padding: 2rem;
  margin-bottom: 10rem;

  font-family: var(--font);
  color: var(--primary-color);
  text-align: center;

  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
}

.registrace label {
  display: flex;
  gap: 1rem;
}

.registrace input {
  border-radius: 1rem;
}

/*-------------- media queries----------------------------*/

@media screen and (min-width: 1060px) {
  .header__navigation a {
    font-size: 18px;
  }
}
