/*-------------- styly sekce "populární knihy" a " naposledy čteno" ------------------------*/

.loaderWrapper {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1;
}

.book_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5rem;
}

.book_section h3 {
  color: var(--primary-color);
  font-family: var(--font-menu);
}

.book_section_heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.book_section_heading p:hover {
  cursor: pointer;
  text-shadow: 2px 2px var(--secondary-color);
}

.book_section_cards {
  display: flex;
  flex-wrap: wrap;
}

/*-------------- registrace ------------------------*/

.registrace {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  font-family: var(--font-menu);
  color: var(--primary-color);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.registrace label {
  display: flex;
  gap: 1rem;
}

.registrace input {
  border-radius: 5px;
}

.header__btn {
  width: fit-content;
  margin: 0 auto;
  background-color: var(--button-color);
  font-size: larger;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*-------------- media queries----------------------------*/

@media screen and (min-width: 1060px) {
  .header__navigation a {
    font-size: 18px;
  }
}
