.comment {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
  font-family: var(--font);
  border-radius: 1rem;
}

.comment h3 {
  font-size: 2vh;
}

.comment_btn {
  margin: 0 auto;
  width: 100%;
  background-color: var(--accent-color);
  font-family: var(--font-menu);
  font-weight: lighter;
}

.comment__btn {
  display: flex;
  flex-direction: column;
}

.comment_btn:hover {
  background-color: #d0e062;
  color: var(--accent-color);
}

.comment_content {
  font-family: var(--font);
  font-size: 2vh;
}
