.comment {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  font-family: var(--font);
  border-radius: 1rem;
}

.comment h3 {
  font-size: 2vh;
}

.comment__btn {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 0.5rem;
  font-family: var(--font-menu);
  font-weight: lighter;
  background-color: transparent;
}

.comment__btn:hover {
  background-color: var(--secondary-color);
}

.comment_content {
  font-family: var(--font);
  font-size: 2vh;
}

.delete_btn {
  background-color: rgb(225, 23, 23);
  border-radius: 50%;
  border: 0px dashed red;
}

.delete_btn:hover {
  background-color: rgba(225, 23, 23, 0.692);
  cursor: pointer;
}
