.bookcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  width: 40%;
  font-family: var(--font);
  background-color: #fafbef;
  margin: 1rem 0;
  padding: 1.5rem;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.bookCover {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.booktitle {
  text-align: center;
  color: #002927;
  font-weight: bold;
  font-family: var(--font);
  font-size: 2vh;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.bookauthor {
  text-align: center;
  font-family: var(--font);
  color: #003d3a;
  font-size: 1.5vh;
}

.bookauthor p {
  margin-bottom: 1.5rem;
}

.createbutton {
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  color: white;
  border: 1px solid var(--button-color);
  border-radius: 5px;
  background-color: var(--button-color);
  font-family: var(--font);
  font-size: 1.3vh;
  position: relative;
  padding: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.createbutton:hover {
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--button-color);
}

.createbutton_container {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .bookcard {
    width: 30%;
  }
}

@media screen and (min-width: 1800px) {
  .bookcard {
    width: 20%;
  }
}
