.welcome {
  height: 100%;
  font-family: var(--font);
  text-align: justify;
  font-size: 1rem;
  line-height: 2;
}

.paragraph {
  display: flex;
  align-items: center;
}

.welcome h3,
.welcome h4 {
  font-family: var(--font-menu);
  color: var(--primary-color);
}
.welcome h2 {
  font-size: 3.5vh;
}
.welcome h3 {
  font-size: 2vw;
}
.welcome h4 {
  text-align: center;
  font-size: 1.5em;
  background-color: white;
  border-radius: 10px;
}
.welcome_user {
  display: flex;
  justify-content: space-between;
}

.welcome img {
  width: 30%;
}

.text_icon_search,
.text_icon_rate {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border: none;
  padding: 1rem;
}
.text_icon_search {
  background-image: url('/icon-search.svg');
  width: 2rem;
  height: 2rem;
  transform: translateY(-20%);
}

.text_icon_rate {
  background-image: url('/rate.png');
  width: 1rem;
  height: 1rem;
  transform: translateY(-30%);
}

.text_button {
  background-color: var(--button-color);
  color: white;
  padding: 0.3em;
  border-radius: 10px;
  font-size: 1.2em;
}

.text_button_category {
  background-color: var(--accent-color);
  padding: 0.3em;
  border-radius: 10px;
  font-size: 1em;
  white-space: nowrap;
}

.section {
  margin: 2rem;
  text-align: center;
}

.highlight {
  text-shadow: 2px 2px 12px #a2a77f;
  font-weight: bold;
  font-family: var(--font-menu);
}
