@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font: 'Roboto', sans-serif;
  --font-menu: 'McLaren', cursive;
  --button-color: #0795c5;
  --primary-color: #035e7b;
  --secondary-color: #eff1c5;
  --accent-color: #a2a77f;
}

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  /* max-width: 80%; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#__next {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper {
  width: 100%;
  margin: 50px auto;
}

.swiper-slide {
  color: #000;
  text-align: center;
}

.swiper-button-prev {
  position: absolute;
  top: calc(50% - 1rem);
  left: 0;
  height: 2rem;
  width: 2rem;
  color: black;
  background-color: black;
  z-index: 1;
}

.swiper-button-next {
  position: absolute;
  top: calc(50% - 1rem);
  right: 0;
  height: 2rem;
  width: 2rem;
  color: black;
  background-color: black;
  z-index: 1;
}
