:root {
  --font: 'Merriweather', sans-serif;
  --button-color: #0795c5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
